.expmenu-list img{

    width:80%;
    border-radius:50% ;
    image-resolution: cover;
}
.expmenu-list{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:30px;
    text-align: center;
    margin:20px 0px;
    overflow-x: scroll;


}
.explore-menu h1{
    color:#262626;
    font-weight: 500;
}
.Expmenu-text{
    max-width: 60%;
    columns: red;
}

.explore-menu{
    width:85%;
    margin: 0 auto;
}

.expmenu-list::-webkit-scrollbar{
    display:none;
}
.expmenu-list-item{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}
.expmenu-list-item p{
    margin-top: 10px;
    color:#747474 ;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
.expmenu-list-item img:hover{
    border: 4px solid tomato;
}
